<%- include('header')%>

<div class="container my-5">
  <a href="/movie/create" class="button is-primary my-4">Add a new Movie</a>
  <div class="columns is-multiline my-5">
    <% movie.map(val=>{ %>
    <div class="column is-one-third">
      <a href="<%= val.url %>">
        <div class="card">
          <header class="card-header is-flex is-justify-content-center">
            <div class="card-image my-2">
              <figure class="image is-128x128">
                <img
                  class="image is-128x128"
                  src="/<%= val.image %>"
                  alt="Placeholder image"
                />
              </figure>
            </div>
          </header>
          <div class="card-content">
            <strong class="title is-4 has-text-centered"
              ><%= val.name %></strong
            >
            <hr />
            <div class="content"><%= val.description %>.</div>
            <hr />
            <p class="subtitle">Price: <%= val.price %>$</p>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
<%- include('footer')%>
